.border-box {
	box-sizing: border-box;
}

// for debugging
$basic-colors: red, green, blue, yellow;
@each $color in $basic-colors {
	.border-#{$color} {
		border: 1px solid $color;
	}
}

.full-flex-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}